<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper"> <!-- 알아서 유일값 주면 된다 -->
	<select id="totalRecord" resultType="int">
		select count(*) from 
		<if test="adminSelect == member">
		memberList <include refid="subSelect" /></if>	
		<if test="adminSelect == product">
		productList <include refid="subSelect" /></if>	
		<if test="adminSelect == ccinfo">
		GolfCC <include refid="subSelect" /> </if>	
	</select>
	<select id="adminGolfSelect" resultType="GolfCcDTO" parameterType="HashMap">
		
		select cc_id, cc_name, cc_addr1, cc_addr2, cc_phone, cc_url, cc_img
		from (select * from (select rownum rnum, g.* from golfcc g)
		<include refid="subSelect" /><include refid="rnum" />
		
		 
	</select>
	<sql id="subSelect">
	<if test="adminSelect == ccinfo"> 
		
		where cc_name like '%'||#{adminSearch}||'%' or cc_addr2 like '%'||#{adminSearch}||'%' 
		or cc_phone like '%'||#{adminSearch}||'%' or cc_url like '%'||#{adminSearch}||'%' order by cc_name
	</if>
	</sql>
	<sql id="rnum">
		<![CDATA[ where rnum <= #{end} ) where rnum >= #{start} ]]>
	</sql>
</mapper>