<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewMapper"> <!-- 알아서 유일값 주면 된다 -->
	<insert id="insertReview" parameterType="ReviewDTO">
		insert into CCSCORE(score_no,score,cc_id,user_no,rv_title,rv_content)
		values(score_no_sq.nextval,#{score},#{cc_id},#{user_no},#{rv_title},#{rv_content})
	</insert>
	
	<select id="selectDetail" resultType="CcScoreDTO" parameterType="int">
		SELECT score_no,score,cc_id,score_date,user_no,rv_title,rv_content,rv_vcount
		FROM CCSCORE
		where score_no=#{score_no}
	</select>
	
	<update id="rv_vcount" parameterType="int">
		update CCSCORE
		set rv_vcount = rv_vcount+1
		where score_no=#{score_no}
	</update>
	
	<update id="updateReview" parameterType="CcScoreDTO">
		update CCSCORE
		set score=#{score},rv_title=#{rv_title},rv_content=#{rv_content}
		where score_no=#{score_no}
	</update>
	
	<delete id="deleteReview">
		delete from CCSCORE
		where score_no=#{score_no}  
	</delete>
	
	<select id="myReviewtotalRecord" parameterType="hashmap" resultType="int">
		SELECT count(*)
		FROM CCSCORE c join GOLFCC g on g.CC_ID = c.CC_ID join LOCATION l on l.LOC_ID = g.LOC_ID
		where c.USER_NO=#{user_no}
		<if test="reviewDivision != null">
			<if test="reviewValue != null">
				and ${reviewDivision} like '%'||#{reviewValue}||'%'
			</if>
		</if>
		order by SCORE_DATE desc
	</select>
	
	<select id="selectMyReview" parameterType="hashmap" resultType="MyReviewDTO">
		SELECT c.SCORE_NO SCORE_NO,c.SCORE SCORE,c.CC_ID CC_ID,c.SCORE_DATE SCORE_DATE,c.USER_NO USER_NO,c.RV_TITLE RV_TITLE,c.RV_VCOUNT RV_VCOUNT,g.CC_NAME CC_NAME,g.CC_IMG CC_IMG,g.LOC_ID LOC_ID
		FROM CCSCORE c join GOLFCC g on g.CC_ID = c.CC_ID join LOCATION l on l.LOC_ID = g.LOC_ID
		where c.USER_NO=#{user_no}
		<if test="reviewDivision != null">
			<if test="reviewValue != null">
				and ${reviewDivision} like '%'||#{reviewValue}||'%'
			</if>
		</if>
		order by SCORE_DATE desc
	</select>
</mapper>